body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  h1 {
    font-family: 'Cursive', cursive;
    color: #ff9900;
    text-align: center;
    margin-top: 50px;
  }
  p {
    font-family: 'Fantasy', Georgia, Times, serif;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }
  a {
    color: #03ffea; /* Change link color */
    text-decoration: none; /* Remove underline */
  }
  
  a:hover {
    color: #ffb006; /* Change link color on hover */
    text-decoration: underline; /* Add underline on hover */
  }
  